.educContainer {
  position: relative;

  .backBtn button {
    width: 5rem;
    height: 3rem;
    background: transparent;
    border-style: none;

    &:hover {
      transform: scale(0.8);
      transition: .4s ease-in-out 0s;
      cursor: pointer;
    }
  }


  .skillsBtn {
    font-weight: bold;
    border-style: none;
    background: white;
    color: black;
    width: 8rem;
    height: 3rem;
    position: absolute;
    right: 0;
    bottom: 1rem;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;

    &:hover {
      background: black;
      color: white;
      cursor: pointer;
      transition: .5s ease-in-out 0s;
    }
  }
}

.grid {  
  .schoolInfo {
    display: flex;
  }

  .timelineContainer {
    text-align: center;
    margin-left: 24.6%;
  }

  .containerleft {
    animation: fromLeft 1s;
    margin: 2rem 0;
  
    .content {
      background: #ffc341;
      border-bottom-left-radius: 3rem;
      border-top-left-radius: 3rem;
      width: 25rem;
      padding: 1rem 3rem;
    }
  }
  
  .containerright {
    animation: fromRight 1s;
    margin: 2rem 0;
  
    .content {
      background-color: black;
      color: white;
      z-index: 1;
      border-bottom-right-radius: 3rem;
      border-top-right-radius: 3rem;
      width: 25rem;
      padding: 1rem 3rem;
    }
  }
}