@keyframes fade {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}

@keyframes fromTop {
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(-800px);}
  50% {
    transform: translateY(-25px);
  }
}

@keyframes fromRight {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(800px);}
  50% {
    transform: translateX(25px);
  }
}

@keyframes fromLeft {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(-800px);}
  50% {
    transform: translateX(-25px);
  }
}

@keyframes eighty {
  100% {
    width: 80%;
  }
  0% {
    width: 0;
  }
}

@keyframes fifty {
  100% {
    width: 50%;
  }
  0% {
    width: 0;
  }
}

@keyframes seventy {
  100% {
    width: 70%;
  }
  0% {
    width: 0;
  }
}

@keyframes forty {
  100% {
    width: 40%;
  }
  0% {
    width: 0;
  }
}

@keyframes thirty {
  100% {
    width: 30%;
  }
  0% {
    width: 0;
  }
}