.grid1 {
  flex-direction: column;

  .backBtn button {
    width: 5rem;
    height: 3rem;
    background: transparent;
    border-style: none;

    &:hover {
      transform: scale(0.8);
      transition: .4s ease-in-out 0s;
      cursor: pointer;
    }
  }

  .image-woman {
    width: 80%;
    margin: 0 13vh;
  }
}

.grid2 {
  .skill {
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    padding-bottom: 2rem;
  }

  .skillsContainer {
    width: 100%;
    margin: 10vh 15vh;
    position: relative;
  
    .container {
      display: flex;
      color: black;
      animation: fromRight 1s;
    }
      
    .skills {
      text-align: right;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-right: 1rem;
      position: absolute;
      left: 15vh;
      color: white;
    }
  
    .html, .figma{
      width: 80%;
      background: black;
      animation: eighty 2.5s;
    }
  
    .css {
      width: 70%;
      background: black;
      animation: seventy 2.5s;
    }
  
    .sass, .python {
      width: 50%;
      background: black;
      animation: fifty 2.5s;
    }
  
    .photoshop {
      width: 30%;
      background: black;
      animation: thirty 2.5s;
    }
  
    .js {
      width: 40%;
      background: black;
      animation: forty 2.5s;
    }
  }
}

.educBtn {
  font-weight: bold;
  border-style: none;
  background: black;
    color: white;
  width: 8rem;
  height: 3rem;
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;

  &:hover {
    background: white;
    color: black;
    cursor: pointer;
    transition: .5s ease-in-out 0s;
  }
}

.section-two {
  background-color: white;
  padding: 1rem;

  .hobbies {
    padding-bottom: 3rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    padding-top: 2rem;
  } 

  .hobbiesContainer {
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    text-align: center;
    font-weight: 600;
  }

  .hobby:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .hobbiesDesc {
    display: flex;
    justify-content: center;

    p {
      text-align: center;
      width: 70%;
    }
  }
}