@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");
body {
  background: url(/assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
  -webkit-animation: fade 2s;
          animation: fade 2s;
}

body a {
  color: black;
  text-decoration: none;
}

body .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  position: relative;
}

body .navbar .logo {
  height: 40px;
}

body .navbar .behance {
  position: absolute;
  left: 75vh;
}

body .navbar .behance:hover {
  -webkit-transition: .5s ease-in-out 0s;
  transition: .5s ease-in-out 0s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

body .navbar .github {
  position: absolute;
  left: 93vh;
}

body .navbar .github:hover {
  -webkit-transition: .5s ease-in-out 0s;
  transition: .5s ease-in-out 0s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

body .navbar .emailBtn {
  font-weight: bold;
  border-style: none;
  background: black;
  border-radius: 50px;
  color: white;
  width: 90px;
  height: 40px;
}

body .navbar .emailBtn:hover {
  background: white;
  color: black;
  cursor: pointer;
  -webkit-transition: .5s ease-in-out 0s;
  transition: .5s ease-in-out 0s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

body .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

body .grid .grid1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .grid .grid1 .infoContainer {
  margin: 10vh 15vh;
  -webkit-animation: fromTop 2s;
          animation: fromTop 2s;
}

body .grid .grid1 .self-info {
  font-size: 17px;
}

body .grid .grid1 .self-info .name {
  font-size: 80px;
  font-weight: 900;
}

body .grid .grid1 .buttons button {
  font-weight: bold;
  border-style: none;
  background: #ffc341;
  border-radius: 50px;
  color: black;
  width: 90px;
  height: 50px;
}

body .grid .grid1 .buttons button:hover {
  background: black;
  color: white;
  cursor: pointer;
  -webkit-transition: .5s ease-in-out 0s;
  transition: .5s ease-in-out 0s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

body .grid .grid1 .educ button {
  width: 110px;
  margin: 0 20px;
}

body .grid .grid2 img {
  width: 105%;
  padding-top: 10px;
  -webkit-animation: fromRight 2s;
          animation: fromRight 2s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fromTop {
  80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
  }
  40% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

@keyframes fromTop {
  80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
  }
  40% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

@-webkit-keyframes fromRight {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px);
  }
  40% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@keyframes fromRight {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px);
  }
  40% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}
/*# sourceMappingURL=styles.css.map */